# Ignore node_modules directory
node_modules/

# Ignore environment variable files
.env

# Ignore logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore system files
.DS_Store
Thumbs.db

# Ignore output files
output/
dist/
build/

# Ignore temporary files
*.tmp
*.swp
*.bak
*.pid

# Ignore VSCode settings
.vscode/

# Ignore coverage reports
coverage/

# Download Folder
downloads/
